.wrapper {
  max-width: 1150px;
}
.template {
    max-width: 780px !important;

      h2 {
        font-size: 1.5rem;
        margin: 20px 0 16px 0;
      }

      h3 {
        font-size: 1.2rem;
      }

      h3,h4,h5 {
        font-weight: 500;
        margin: 16px 0 8px 0;
      }

      iframe {
          margin: 16px 0;
          max-width: 100%;
          overflow: hidden;
      }

      h1,h2 {
          font-weight: 500;
      }

      hr {
          margin: 16px 0;
      }

      ol {
          list-style: decimal;
          margin-left: 25px;
      }

      blockquote {
          background:#E0E0E0;
          padding: 0 8px 0 12px;
          display: inline-block;
          border-radius: 4px;
          margin:0px auto;
      }

      p {
        font-size: 1rem;
        line-height: 1.5;
      }
      a {
        border-bottom: 1px solid white;
        color: #0076ff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease;
      }
      a:hover {
        border-bottom: 1px solid #0076ff;
      }
      img {
        max-width: 100%;
        border: 1px solid #212121;
        border-radius: 4px;
        cursor: pointer;
      }  
      pre {
        border-radius: 4px;
        font-size: 13px;
      }

      table {
        margin: 4px 0 16px 0;
        td,th {
          text-align: center;
          border: 1px solid #212121;
          padding: 4px 8px;
        }
      }

      ol {
        margin-bottom: 8px ;
        margin-top: 8px ;
      }

      img {
        margin: 1rem auto;
      }
}